{% extends 'layout.html.twig' %}

{% block title %}Pagina Inicial{% endblock %}

{% block body %}
<div class="mt-5 main-container">
    <h1>Bem-vindo à Página Inicial</h1>
    <p>Explore as opções abaixo:</p>

    <div class="row justify-content-center respon">
        <div class="col-md-4 mb-4">
            <div class="card + card-home">
                <div class="card-body">
                    <i class="fas fa-shopping-cart fa-3x mb-3" style="color: #16c1aa;"></i>
                    <h5 class="card-title">Vendas</h5>
                    <p class="card-text">Acesse nossa área de <br> vendas para mais informações.</p>
                    <a href="{{path('vendas')}}" class="btn btn-custom">Ir para Vendas</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card card-home">
                <div class="card-body">
                    <i class="fas fa-list-alt fa-3x mb-3" style="color: #16c1aa;"></i>
                    <h5 class="card-title">Categorias</h5>
                    <p class="card-text">Confira nossas categorias<br> de produtos.</p>
                    <a href="{{path('categorias')}}" class="btn btn-custom">Ver Categorias</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card card-home">
                <div class="card-body">
                    <i class="fas fa-boxes fa-3x mb-3" style="color: #16c1aa;"></i>
                    <h5 class="card-title">Produtos</h5>
                    <p class="card-text">Veja nossos produtos <br>disponíveis no estoque.</p>
                    <a href="{{path('produtos')}}" class="btn btn-custom">Ver Produtos</a>
                </div>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}
