@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

.table-container {
  overflow-x: auto;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--cor-tercearia-background);
  color: var(--cor-principal-font);
}

.page-title {
  font-size: 1.8rem;
  color: var(--cor-segundaria-font);
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-container {
  margin-top: 20px;
}

.summary-cards .card-summary {
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-summary-body {
  padding: 20px;
  height: 120px;
}

.summary-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-icon {
  width: 25px;
  height: 25px;
}

.summary-dash {
  font-size: 1.2rem;
}

.client-search-card {
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

.client-search-body {
  padding: 20px;
}

.client-label {
  font-size: 18px;
  font-weight: 600;
}

.client-input-group {
  display: flex;
}

.client-input::placeholder {
  font-style: italic;
}

.search-button {
  background: var(--cor-terciaria-background);
  color: var(--cor-principal-font);
}

.search-button:hover {
  background: #139A88;
}

.cart-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.cart-table-head {
  background-color: #f0f0f0;
}

.header-cell {
  text-align: center;
  padding: 10px;
  font-weight: 500;
}

.item-cell {
  text-align: center;
  padding: 10px;
}

.quantity-wrapper {
  display: flex;
  gap: 10px;
}

.quantity-input {
  width: 40px;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.quantity-input {
  width: 20%;
  padding: 5px;
  text-align: left;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button;
  margin: 0;
}

.quantity-input:focus {
  border-color: #16c1aa;
  background-color: #e5f8f3;
  outline: none;
}


@media (max-width: 768px) {
  table {
    font-size: 0.9rem;
  }

  th, td {
    padding: 6px;
  }
}

@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  tr {
    margin-bottom: 10px;
  }

  td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    text-align: left;
    font-weight: bold;
  }
}

