.header-custom {
    background-color: var(--cor-principal-background);
    border-color: #eaeaea;
}

.button-toggle{
 border: none;
}


.button-toggle:focus{
    border:none;
    outline: none;
    box-shadow: none;
    
}
.site-title {
    color: #16c1aa;
}

.logo {
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.nav-link{
    color: var(--cor-segundaria-font);
    font-size: 1rem;
    margin: 0px 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.links{
    margin: 10px;
    padding: 10px;
}

.nav-link:hover, .nav-link.active {
    color: #16c1aa;
    background-color: #d3d3d36f;
    padding: 10px 15px;
}


.user-icon {
    color: #16c1aa;
  
    transition: color 0.3s ease, transform 0.3s ease;
}

.user-icon:hover {
    color: #0fa78f;
    transform: scale(1.1);
}

.some{
    display: block;
}

.LogOut{
    color: red;
    display: none;
}
.LogOut:hover{
    color: rgb(80, 0, 0);
}


.contener-buttom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.config-tittle{
    margin: 0px;
    padding: 0px;
}

.lua-crescente{

    margin-left: 10px;
    cursor: pointer;
      transition: transform 0.3s ease;
    
}

.lua-crescente > img{
padding: 6px;
border-radius: 50%;
background-color: transparent;
}

.lua-crescente > img:hover{
    padding: 6px;
border-radius: 50%;
background-color: #16161649;
transition: 0.3s ease;
}




/* MENU LATERAL */


#offcanvasRight {
    background-color: #f8f9fa; 
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);  
    border-left: 1px solid #ddd;
}
 
.offcanvas-header {
    background-color: #16c1aa; 
    color: var(--cor-principal-font);
}
 
.user-info i {
    color: #16c1aa; 
}

.user-info h6 {
    font-weight: bold;
    color: var(--cor-quinaria-font);
}

.user-info p {
    font-size: 0.9rem;
    color: var(--cor-segundaria-font);
}
 
.user-menu a {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 0.5rem;
    border-radius: 8px;
}

.user-menu a:hover {
    background-color: rgba(22, 193, 170, 0.1); 
    text-decoration: none;
}
 
.btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: var(--cor-principal-font);
}

@media (max-width: 991px) {
    .some{
        display: none;
    }
    .LogOut{
        display: block;
    }
}