.header-custom {
    background-color: #ffffff;
    border-color: #eaeaea;
}

.site-title {
    color: #16c1aa;
}

.logo {
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.nav-link {
    color: #757575;
    font-size: 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover, .nav-link.active {
    color: #16c1aa;
    background-color: #d3d3d36f;
}

.nav-item:last-child {
    margin-left: 1rem;
}

.user-icon {
    color: #16c1aa;
    transition: color 0.3s ease, transform 0.3s ease;
}

.user-icon:hover {
    color: #0fa78f;
    transform: scale(1.1);
}

 

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }
    
    .nav-link {
        margin: 0.5rem 0;
    }
}

/* MENU LATERAL */


#offcanvasRight {
    background-color: #f8f9fa; 
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);  
    border-left: 1px solid #ddd;
}
 
.offcanvas-header {
    background-color: #16c1aa; 
    color: white;
}
 
.user-info i {
    color: #16c1aa; 
}

.user-info h6 {
    font-weight: bold;
    color: #333;
}

.user-info p {
    font-size: 0.9rem;
    color: #666;
}
 
.user-menu a {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 0.5rem;
    border-radius: 8px;
}

.user-menu a:hover {
    background-color: rgba(22, 193, 170, 0.1); 
    text-decoration: none;
}
 
.btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
}