{% extends 'layout.html.twig' %}
{% block title %}Nova Venda{% endblock %} 

{% block body %}
<div class="container cart-container mt-5">
    {% include 'flash.html.twig' %}
    <h1 class="titulo page-title">Carrinho</h1>

    <div class="row summary-cards my-4">
        <div class="col-md-4">
            <div class="card text-center card-summary">
                <div class="card-body card-summary-body">
                    <div class="flex summary-flex">Total
                        <div><i class="fas fa-dollar-sign"></i></div>
                    </div>
                    <div id="ValorTotal" class="summary-dash">-</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center card-summary">
                <div class="card-body card-summary-body">
                    <div class="flex summary-flex">Status
                        <div><i class="fas fa-tag"></i></div>
                    </div>
                    <div id="StatusCarrinho" class="summary-dash">-</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center card-summary">
                <div class="card-body card-summary-body">
                    <div class="flex summary-flex">Criação
                        <div><i class="fas fa-calendar"></i></div>
                    </div>
                    <div id="DataCarrinho" class="summary-dash">-</div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 client-search-card">
        <div class="card-body client-search-body">
            <h5 class="client-label">Cliente*</h5>
            <div class="input-group client-input-group">
                <input type="text" class="form-control client-input" id="client-search-input"
                    placeholder="Buscar cliente por nome...">
            </div>
            <ul class="list-group" id="client-suggestions"
                style="display: none; position: absolute; z-index: 1000; width: 100%;">
            </ul>
        </div>
    </div>

    <div class="card mb-4 product-search-card">
        <div class="card-body product-search-body">
            <h5 class="product-label">Produto*</h5>
            <div class="input-group product-input-group">
                <input disabled type="text" class="form-control product-input" id="product-search-input"
                    placeholder="Buscar produto por nome, código ou categoria...">
                <button id="button-finalizar-venda" class="btn color-btn search-button">Prosseguir com a venda</button>
            </div>
            <ul class="list-group" id="product-suggestions"
                style="display: none; position: absolute; z-index: 1000; width: 100%;"></ul>
        </div>
    </div>

    <div class="card mb-4 cart-table-card">
        <div class="card-body">
            <table class="table">
                <thead class="table-light cart-table-head">
                    <tr>
                        <th class="text-center align-middle header-cell">Nome</th>
                        <th class="text-center align-middle header-cell">Categoria</th>
                        <th class="text-center align-middle header-cell">Estoque</th>
                        <th class="text-center align-middle header-cell">Valor/Un.</th>
                        <th class="text-center align-middle header-cell">Quantidade</th>
                        <th class="text-center align-middle header-cell">Total</th>
                    </tr>
                </thead>
                <tbody class="cart-table-body">
                    <tr>
                        <td id="linha-mensagem-tabela" colspan="6" class="text-center" >Por favor, selecione um cliente!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        
        function configurarBusca(acao,botaoId,entradaId, sugestoesId, apiUrl) {
            const campoEntrada = $(`#${entradaId}`);
            const listaSugestoes = $(`#${sugestoesId}`);
            const butao = $(`#${botaoId}`);

            campoEntrada.on('input', function () {
                const termo = campoEntrada.val().trim();

                if (acao === 'cliente') {
                    $('#product-search-input').attr('disabled', true);
                    $('#linha-mensagem-tabela').text('Por favor, selecione um cliente!').show();
                    $('.cart-table-body').html('<tr><td id="linha-mensagem-tabela" colspan="6" class="text-center">Por favor, selecione um cliente!</td></tr>');
                    produtosEnviar = [];
                }

                if (termo.length < 1) {
                    listaSugestoes.hide();
                    return;
                }

                $.ajax({
                    url: apiUrl,
                    method: 'GET',
                    success: function (dados) {
                        listaSugestoes.empty();
                        const resultados = dados.filter(function (item) {
                            return item.nome.toLowerCase().includes(termo.toLowerCase());
                        });

                        if (resultados.length > 0) {
                            resultados.forEach(function (item) {
                                listaSugestoes.append(`<li class="list-group-item" data-id="${item.id}">${item.nome}</li>`);
                            });
                            listaSugestoes.show();
                            return;
                        }
                        listaSugestoes.hide();
                    },
                    error: function () {
                        console.error("Erro ao buscar dados na API.");
                    }
                });
            });

            listaSugestoes.on('click', '.list-group-item', function (event) {
                const liElement = event.currentTarget;
                const ID = liElement.dataset.id;
                listaSugestoes.hide();

                if(acao == "cliente"){
                    $.ajax({
                        url: '/api/carrinho/' + ID,
                        type: 'POST',
                        success: function(resposta) {
                            console.log(resposta.dadosCarrinho.itens);
                                if(resposta.dadosCarrinho.itens != null && resposta.dadosCarrinho.itens.length > 0){
                                    window.location.href = "/carrinho/" + resposta.carrinho + "/aguardando/";
                                }else{
                                    $('#product-search-input').removeAttr('disabled');
                                    $('#linha-mensagem-tabela').text('Esse cliente não tem produtos em seu carrinho, selecione um produto!');
                                    carrinho = resposta.carrinho;
                                    $("#ValorTotal").text(formatarValorBR(resposta.dadosCarrinho.valor))
                                    $("#DataCarrinho").text(resposta.dadosCarrinho.data)
                                    $("#StatusCarrinho").text(resposta.dadosCarrinho.status)
                                }
                        },
                        error: function () {
                            console.error("Erro ao buscar dados na API.");
                        }
                    });
                }
                else{
                    $.ajax({
                        url: '/api/produtos/' + ID,
                        type: 'GET',
                        success: function (produto) {
                            $('#linha-mensagem-tabela').hide();
                    
                            var produtoExisteTBL = false;
                    
                            $('.cart-table-body tr').each(function () {
                                var nomeProduto = $(this).find('td:eq(0)').text().trim();
                    
                                if (nomeProduto === produto.nome) {
                                    produtoExisteTBL = true;
                    
                                    var quantidadeAtual = parseInt($(this).find('.quantity-input').val());
                                    var novaQuantidade = quantidadeAtual + 1;
                    
                                    $(this).find('.quantity-input').val(novaQuantidade);
                                    var total = novaQuantidade * produto.valorUnitario;
                                    $(this).find('#total-produto').text(formatarValorBR(total));
                    
                                    produtosEnviar.forEach(function (item) {
                                        if (item.id === produto.id) {
                                            item.quantidade = novaQuantidade;
                                        }
                                    });
                                    atualizarResumo();
                                    return false;
                                }
                            });
                    
                            if (!produtoExisteTBL) {
                                var novaLinha = '<tr>' +
                                    '<td class="text-center align-middle item-cell">' + produto.nome + '</td>' +
                                    '<td class="text-center align-middle item-cell">' + produto.categoria + '</td>' +
                                    '<td class="text-center align-middle item-cell">' + produto.quantidade + '</td>' +
                                    '<td class="text-center align-middle item-cell">' + formatarValorBR(produto.valorUnitario) + '</td>' +
                                    '<td class="text-center align-middle item-cell">' +
                                        '<input max="'+ produto.quantidade + '" min="1" type="number" value="1" class="quantity-input" name="" data-id="'+ produto.id +'">' +
                                    '</td>' +
                                    '<td class="text-center align-middle item-cell" data-id="'+ produto.id +'">' + formatarValorBR(produto.valorUnitario) + '</td>' +
                                '</tr>';
                    
                                $('.cart-table-body').append(novaLinha);
                    
                                produtosEnviar.push({
                                    id: produto.id,
                                    valorUnitario: produto.valorUnitario,
                                    quantidade: 1
                                });
                                atualizarResumo();
                            }
                        }
                    });
                
                    $('#product-search-input').val('');
                    return;
                    
                }
                const nomeSelecionado = $(this).text();
                campoEntrada.val(nomeSelecionado);
            });

            $(document).on('click', function (e) {
                if (!$(e.target).closest(`#${entradaId}`).length && !$(e.target).closest(`#${sugestoesId}`).length) {
                    listaSugestoes.hide();
                }
            });
        }
        let cliente;
        let produtosEnviar = [];
        configurarBusca('cliente','button-procurar-cliente','client-search-input', 'client-suggestions', 'api/clientes');
        configurarBusca('produto','button-inserir-produto','product-search-input', 'product-suggestions', 'api/produtos');


        $("#button-finalizar-venda").click(function () {
            $.ajax({
                url: '/api/carrinho/' + carrinho + '/adicionar/produtos',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({ produtos: produtosEnviar }),
            })
            .done(function (resposta) {
                console.log("Sucesso:", resposta);
            })
            .fail(function (xhr) {
                console.error("Erro:", xhr.responseText);
            })
            .always(function () {
                window.location.href = "/carrinho/" + carrinho + "/aguardando/";
            });
        });

        function atualizarResumo() {

            let total = 0;
            produtosEnviar.forEach(produto => {
                total += produto.quantidade * produto.valorUnitario;
            });

            $('.summary-cards .card-summary').eq(0).find('.summary-dash').text(formatarValorBR(total));
        }

        $(document).on('input', '.quantity-input', function () {
            var Quantidade = parseInt($(this).val());
            var idProduto = $(this).data('id');
            
            var produto = produtosEnviar.find(p => p.id === idProduto);

            produto.quantidade = Quantidade;
            var total = produto.valorUnitario * Quantidade;

            $(this).closest('tr').find(`[data-id="${idProduto}"]`).text(formatarValorBR(total));
            atualizarResumo();
        });
        
    });
</script>

{% endblock %}
