{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<main class="container-login d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="form-signin text-center w-100 m-auto p-4 rounded  bg-white">

        <form method="post">
            <a href="#"
            class="titulo-login">
            <img class="me-2" src="{{asset('img/cart.png')}}" width="53" alt="Logotipo">
            <span class="fs-5 fw-bold">MS Code - Estoque</span>
        </a>

        <div class="form-floating mb-2">
            <input type="text" name="nome" id="nome" placeholder="Nome" required autofocus >
        </div>
        <div class="form-floating mb-2">
            <input type="email" name="email" id="email" placeholder="nome@example.com" required autofocus >
        </div>
        <div class="form-floating mb-2">
            <input type="password" name="senha" id="password" placeholder="Senha" required >
        </div>
        
        {% if error %}
        <div class="alert alert-danger mt-2" role="alert"><span>{{ error }}</span></div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('registrar') }}">
        <button class="btn btn-primary w-100 py-2 mb-3" type="submit">Registrar</button>
        <a href="{{ path('app_login') }}" class="btn btn-outline-secondary w-100">Já tem uma conta? Logar</a>
    </form>
    </div>
</main>
{% endblock %}
