@import url(includes/login.css);
@import url(includes/header.css);
@import url(includes/home.css);
@import url(includes/categoria.css);
@import url(includes/tabela.css);

body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

